@import "tailwindcss";

:root {
  --font-bebas: "Bebas Neue", sans-serif;
  --color-background: #180908;
  --color-foreground: #D1D0D0;
  --color-muted: #5C4E4E;
}

@theme inline {
  --font-bebas: var(--font-bebas);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
