@import "tailwindcss";

:root {
  --font-bebas: "Bebas Neue", sans-serif;
  --color-background: #000000;
  --color-foreground: #E0DDD5;
  --color-muted: #5C4E4E;
}

@theme inline {
  --font-bebas: var(--font-bebas);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
